#backcircle {
  background-color: rgb(8, 4, 4);
  border-radius: 50%;
  box-sizing: content-box;
  height: 100vh;
  width: 100vh;
  margin: auto;
  padding: 5px;
  border: 5px;
  left: 25%;
  box-shadow: 40px 24px 50px -7px rgb(149, 99, 169);
  -webkit-box-shadow: 40px 24px 50px -7px rgb(145, 84, 169);
}

.nick .container .box {
  position: absolute;
  left: 40%;
  top: 13%;
  width: calc(370px - 30px);
  height: calc(260px - 30px);
  background: black;
  border: 5px solid rgb(41, 105, 182);
  margin: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-size: small;
box-shadow: 8px -34px 17px -19px rgb(53, 124, 150);
-webkit-box-shadow: 8px -34px 17px -19px rgb(46, 101, 121)

  
  
}

.nick .container .box:hover {
  overflow-x: hidden;
  width: calc(415px - 30px);
  height: calc(300px - 30px);
  z-index: 10;

}


.nick .container .box .icon {
  position: absolute;
  top: 0;
  left: 20;
  width: 100%;
  height: 100%;
  font-family: "Courier New", monospace;
  background: darkblue;
  transition: 0.5s;
  z-index: 1;


}

.nick .container .box:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.nick .container .box .icon .picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.nick .container .box:hover .icon .picture {
  font-size: 60px;
}

.nick .container .box .icon .picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.nick .container .box:hover .icon .picture {
  font-size: 60px;
}

.nick .container .box .content {
  position: absolute;
  top: 100%;
  height: calc(100%-100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.nick .container .box:hover .content {
  top: 100px;
  opacity: 1;
}

.nick .container .box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 18px;
}

.nick .container .box .content p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.nick .container .box .content .link {
  margin: 0;
  padding: 0;
  color: #fff;
}


.paula .containerpd .boxpd {
  position: absolute;
  left: 50%;
  top: 67%;
  width: calc(370px - 30px);
  height: calc(260px - 30px);
  background: black;
  border: 5px solid rgb(231, 86, 81);
  margin: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-size: small;
  box-shadow: 17px 14px 17px -7px rgba(221,70,70);
-webkit-box-shadow: 17px 14px 17px -7px rgba(221,70,70);
}

.paula .containerpd .boxpd:hover {
  width: calc(415px - 30px);
  height: calc(300px - 30px);
  z-index: 10;

}

.paula .containerpd .boxpd .iconpd {
  position: absolute;
  top: 0;
  left: 20;
  width: 100%;
  height: 100%;
  font-family: "Courier New", monospace;
  background: darkred;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
}

.paula .containerpd .boxpd:hover .iconpd {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.paula .containerpd .boxpd .iconpd .picturepd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: "Courier New", monospace; */
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.paula .containerpd .boxpd:hover .iconpd .picturepd {
  font-size: 60px;
}

.paula .containerpd .boxpd .iconpd .picturepd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.paula .containerpd .boxpd:hover .iconpd .picturepd {
  font-size: 60px;
}

.paula .containerpd .boxpd .contentpd {
  position: absolute;
  top: 100%;
  height: calc(100%-100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.paula .containerpd .boxpd:hover .contentpd {
  top: 100px;
  opacity: 1;
}

.paula .containerpd .boxpd .contentpd h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 18px;
}

.paula .containerpd .boxpd .contentpd p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.paula .containerpd .boxpd .contentpd .linkpd {
  margin: 0;
  padding: 0;
  color: #fff;
}


.anthony .containera .boxa {
  position: absolute;
  left: 54%;
  top: 40%;
  width: calc(370px - 30px);
  height: calc(260px - 30px);
  background: black;
  border: 5px solid rgb(152, 98, 222);
  margin: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-size: small;
  box-shadow: 44px -34px 17px -19px rgb(147,71,213);
-webkit-box-shadow:  17px 14px 17px -7px  rgb(147,71,213);
}

.anthony .containera .boxa:hover {
  width: calc(415px - 30px);
  height: calc(305px - 30px);
  z-index: 10;
}


.anthony .containera .boxa .icona {
  position: absolute;
  top: 0;
  left: 20;
  width: 100%;
  height: 100%;
  font-family: "Courier New", monospace;
  background: rgb(101, 38, 184);
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
}

.anthony .containera .boxa:hover .icona {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  

}

.anthony .containera .boxa .icona .picturea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: "Courier New", monospace; */
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);

}

.anthony .containera .boxa:hover .icona .picturea {
  font-size: 60px;

}

.anthony .containera .boxa .icona .picturea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);

}

.anthony .containera .boxa:hover .icona .picturea {
  font-size: 60px;
}

.anthony .containera .boxa .contenta {
  position: absolute;
  top: 100%;
  height: calc(100%-100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.anthony .containera .boxa:hover .contenta {
  top: 100px;
  opacity: 1;

}

.anthony .containera .boxa .contenta h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 18px;

}

.anthony .containera .boxa .contenta p {
  margin: 0;
  padding: 0;
  color: #fff;

}

.anthony .containera .boxa .contenta .linka {
  margin: 0;
  padding: 0;
  color: #fff;

}

.jennifer .containerj .boxj {
  position: absolute;
  left: 24%;
  top: 40%;
  width: calc(370px - 30px);
  height: calc(260px - 30px);
  background: black;
  border: 5px solid rgb(45, 168, 14);
  margin: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-size: small;
  box-shadow: -16px 12px 10px -3px rgba(36, 159, 74, 0.51);
  -webkit-box-shadow: -16px 12px 10px -3px rgba(36, 159, 74, 0.51);
}

.jennifer .containerj .boxj:hover {
 
  width: calc(415px - 30px);
  height: calc(300px - 30px);
  z-index: 10;

}

.jennifer .containerj .boxj .iconj {
  position: absolute;
  top: 0;
  left: 20;
  width: 100%;
  height: 100%;
  font-family: "Courier New", monospace;
  background: darkgreen;
  transition: 0.5s;
  z-index: 1;
  /* overflow:scroll; */
}

.jennifer .containerj .boxj:hover .iconj {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.jennifer .containerj .boxj .iconj .picturej {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: "Courier New", monospace; */
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.jennifer .containerj .boxj:hover .iconj .picturej {
  font-size: 60px;
}

.jennifer .containerj .boxj .iconj .picturej {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.jennifer .containerj .boxj:hover .iconj .picturej {
  font-size: 60px;
}

.jennifer .containerj .boxj .contentj {
  position: absolute;
  top: 100%;
  height: calc(100%-100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.jennifer .containerj .boxj:hover .contentj {
  top: 100px;
  opacity: 1;
}

.jennifer .containerj .boxj .contentj h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 18px;
}

.jennifer .containerj .boxj .contentj p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.jennifer .containerj .boxj .contentj .linkj {
  margin: 0;
  padding: 0;
  color: #fff;
}

.peter .containerp .boxp {
  position: absolute;
  left: 28%;
  top: 67%;
  width: calc(370px - 30px);
  height: calc(260px - 30px);
  background: black;
  border: 5px solid rgb(244, 245, 145);
  margin: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-size: small;
  box-shadow: -16px 12px 10px -3px rgba(223, 222, 57, 0.51);
  -webkit-box-shadow: -16px 12px 10px -3px rgba(223, 222, 57, 0.51);


}

.peter .containerp .boxp:hover {
  
  width: calc(415px - 30px);
  height: calc(300px - 30px);
  z-index: 10;

}

.peter .containerp .boxp .iconp {
  position: absolute;
  top: 0;
  left: 20;
  width: 100%;
  height: 100%;
  font-family: "Courier New", monospace;
  background: goldenrod;
  transition: 0.5s;
  z-index: 1;

  /* overflow:scroll; */
}

.peter .containerp .boxp:hover .iconp {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.peter .containerp .boxp .iconp .picturep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: "Courier New", monospace; */
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.peter .containerp .boxp:hover .iconp .picturep {
  font-size: 60px;
}

.peter .containerp .boxp .iconp .picturep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.peter .containerp .boxp:hover .iconp .picturep {
  font-size: 60px;
}

.peter .containerp .boxp .contentp {
  position: absolute;
  top: 100%;
  height: calc(100%-100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.peter .containerp .boxp:hover .contentp {
  top: 100px;
  opacity: 1;
}

.peter .containerp .boxp .contentp h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 18px;
}

.peter .containerp .boxp .contentp p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.peter .containerp .boxp .contentp .linkp {
  margin: 0;
  padding: 0;
  color: #fff;
}


img {
  border-radius: 30%;
  border: 3px solid #333;

}


h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: bisque;
  font-weight: bolder;
  text-align: center;
  padding-top: 8%;
}


body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('../img/palmretro.jpg');
  background-position: center;
  background-size: cover;
}

.back-grounds {
  width: 18rem;
  height: 6rem;
  background: white;
  border-radius: 23px;
  position: absolute;
  top: 120px;
  left: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-grounds .theme-change {
  width: 91px;
  height: 91px;
  background: wheat;
  overflow: hidden;
  cursor: pointer;
  border-radius: 23px;
}

.back-grounds .theme-change img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}