nav {
    width:auto;
}
ul {
    display: flex;
    flex-direction: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-items: center;
    text-align: center;
    max-width: 100%;
    border-radius: 20px;
}

li {
    max-width: 760px;
    height: 80px;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    margin: 0 auto 5px;
    justify-items: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-family: "Courier New", monospace;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}

li a:hover {
    background-color: #111;
}

#home a:hover {
    background-color: darkgreen;
    border: 5px solid rgb(45, 168, 14);
    height: 80px;
    border-radius: 20px;
}

#leaderboard a:hover {
    background-color: darkblue;
    border: 5px solid rgb(41, 105, 182);
    height: 80px;
    border-radius: 20px;
}

#aboutus a:hover {
    background-color: darkred;
    border: 5px solid rgb(231, 86, 81);
    height: 80px;
    text-align: center;
    border-radius: 20px;
}

footer {
    background-color: #333;
    color: white;
    height: 80px;
    font-family: "Courier New", monospace;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    padding: 30px 20px;
    border-radius: 20px;
    max-width: 100%;
    /* position: absolute; */
    bottom: 0;
    width:auto;
 
}

h3 {
  text-align: center;
}


